/* * {
  border: 1px solid black;
} */

html {
  font-size: 62.5%;
  
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.4rem;
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline;
  
}

.nav a {
  display: inline-block;
  padding: 10px;
  margin: 0 10%;
  border-radius: 10px;
}

.button-visit {
  color: white;
  background-color: #FF764E;
}

.button-learn {
  color: white;
  background-color: #5ED3EB;
}

.button-involved {
  color: white;
  background-color:#FFCD69;
}

.header-img {
  width: 150px;
  border-radius: 75px;
}

.header-img-div {
  display: inline-block;
  width: 30%;
  margin-left: 10%;
}

.yosemite-text-div {
  display: inline-block;
  width: 50%;
}

.yosemite-text-div h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 38px;
}

.paragraph {
  background-color: #DDB9A3;
  color: white;
  padding: 2%;
  margin: 2%;
}

.fire {
  width: 100px;
  display: block;
  margin: auto;
}

.van {
  width: 100px;
  display: block;
  margin: auto;
}

.fire-div p {
  padding: 0 30%;
}

.fire-div span {
  font-weight: bold;
}

.van-div p {
  padding: 0 30%;
}

.van-div span {
  font-weight: bold;
}

.empty-background {
  background-image: url("assets/footer_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 20vh;
}

.footer {
  background-color: #F9E7DC;
}

